<%- include('Header'); -%>
    <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
    </div>
    </div>
    </div>
    </nav>

    <div class="container bg-light pt-3" id="mainDiv">
        <h1>Hi <%= userName %>
        </h1>
        <h1>List of Courses</h1>
        <br>
        <div class="row">
            <button onclick="showForm()">Add a new course</button>
            <span class="d-none" id="course_input_form">
                Enter the course name <br>
                <input type="text" name="new_course_name" id="new_course_name">
                <button onclick="addCourse()">Add</button>
            </span>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Course Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="editCourseNameInput" id="editCourseNameInput">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="saveEditedChanges()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <% courses.forEach(course=> { %>
            <div id="course_<%= course.C_Id %>" class="row rounded bg-secondary p-3" onclick="loadCourse(this)">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="editCourse(event, `<%= course.C_Id %>`)">Edit</button>
                <button onclick="DeleteThisCourse(event, `<%= course.C_Id %>`)">Delete</button>
                <strong>Course ID:</strong>
                <span id="cid_<%=course.C_Id %>">
                    <%= course.C_Id %>,
                </span>
                <strong>Course Name:</strong>
                <span id="cname_<%=course.C_Id %>">
                    <%= course.Course_name %>
                </span>
            </div>
            <% }); %>

    </div>
    <script src="/scripts/coursePage.js"></script>
    </body>

    </html>