<%- include('Header'); -%>
    <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
    </div>
    </div>
    </div>
    </nav>

    <div class="container bg-custom-back-div p-3 rounded mb-5" id="mainDiv">
        <h1>Hi <%= userName %>
        </h1>
        <h1>List of chapters</h1>
        <br>
        <div class="row">
            <button onclick="showForm()" class="btn btn-secondary">Add notes</button>
            <span class="d-none" id="notes_input_form">
                Enter the Topic<br>
                <input type="text" name="new_notes_name" id="new_notes_name" class="form-control mb-2">
                Enter the notes <br>
                <textarea id="notes_content" name="notes_content" rows="8" cols="50"
                    class="form-control mb-2"></textarea>
                <button onclick="addNotes()" class="btn btn-dark">Add</button>
                <button onclick="addCourseCancel()" class="btn btn-danger">Cancel</button>
            </span>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Notes topic</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="editNotesTopicInput" id="editNotesTopicInput">
                    </div>

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Notes content</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <textarea id="edit_notes_content" name="edit_notes_content" rows="8" cols="50"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="saveEditedChanges()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <% notes.forEach(note=> { %>
            <div id="note_<%= note.Notes_id %>" class="m-5 rounded bg-light p-3 position-relative"
                onclick="loadNote(this)">
                <button class="btn btn-info position-relative  m-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" onclick="editNotes(event, `<%= note.Notes_id %>`)">Edit</button>
                <button onclick="DeleteThisNotes(event, `<%= note.Notes_id %>`)"
                    class="btn btn-danger position-absolute top-0 end-0 m-1">Delete</button>
                <strong id="note_topic_<%=note.Notes_id%>">
                    <%= note.topic %>
                </strong><br>
                <strong>Notes:</strong>
                <span id="note_notes_<%=note.Notes_id%>">
                    <%= note.notes %>
                </span>
            </div>
            <% }); %>

    </div>
    <script src="/scripts/notesPage.js"></script>
    </body>

    </html>